# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python Output directory
__pycache__/
NeopixelServer/esp32Neopixel/debug.cfg
NeopixelServer/esp32Neopixel/esp32.svd
NeopixelServer/esp32Neopixel/debug_custom.json
